root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{cs,razor}]
indent_size = 4

# Match the existing codebase style.
[*.cs]
csharp_style_namespace_declarations = file_scoped:suggestion
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_var_elsewhere = true:suggestion
csharp_style_expression_bodied_properties = true:suggestion
csharp_new_line_before_open_brace = all
dotnet_sort_system_directives_first = true

[*.{json,yml,yaml,webmanifest}]
indent_size = 2

[*.{js,css,html}]
indent_size = 2
